body{
    margin: 0;
    padding: 0;
    background: black no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header{
    height: 100%;
    background-size: cover;
    background-position: center;
}

.nav-bar{
    background: transparent;
    height: 60px;
}


.menu{
    float: right;
    list-style: none;
    margin: 20px;
}

.menu li{
    display: inline-block;
    margin: 10px 5px;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    font-family: sans-serif;
    letter-spacing: 2px;
    border: 1px solid white;
}

.menu li a:hover{
    background: red;
    transition: .4s;
    color: #000;
}
